.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.input_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.label {
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.2s;
}
.label.focusing {
  transform: translateY(-2.25rem);
}
.input {
  /* width: 100%; */
  border: none;
  border-bottom: 2px solid var(--neutral-5);
  padding: 0.2rem;
  color: var(--color-neutral);
  color: var(--neutral-1);
  font-weight: bold;
  position: relative;
  transition: all 0.2s;
  background: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  /* border-bottom: 2px solid transparent; */
}
.input:hover {
  border-bottom: 2px solid var(--color-primary);
}
.input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-primary);
}
.input::placeholder {
  color: var(--neutral-3);
}
.input.valued {
  border-bottom: 2px solid var(--color-primary);
}
.input.disabled {
  opacity: 0.5;
}
.input.missing,
.input.error {
  border-bottom: 2px solid var(--color-error);
}
.icon_container,
.clear_button {
  position: absolute;
  display: grid;
  place-content: center;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
}
.clear_button {
  color: var(--neutral-5);
  cursor: pointer;
}
.error_message {
  color: var(--color-error);
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 1px;
  /* text-wrap: nowrap; */
}
@media (min-width: 1280px) {
  .error_message {
    position: absolute;
    top: 2rem;
  }
}
