.input_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.label {
    font-weight: 600;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: all .2s;
}
.label.focusing {
    transform: translateY(-42px);
}
.input {
    /* width: 100%; */
    border: none;
    border-bottom: 2px solid var(--neutral-3);
    padding: 10px;
    color: var(--color-neutral);
    font-weight: bold;
    position: relative;
    transition: all .2s;
    background: none;
}
.input:hover {
    border-bottom: 2px solid var(--color-primary);
}
.input:focus {
    outline: none;
    border-bottom: 2px solid var(--color-primary);
}
.input::placeholder {
    color: var(--neutral-3);
}
.input.valued {
    border-bottom: 2px solid var(--color-primary);
}
.input.disabled {
    
}
.input.missing {
    border-bottom: 2px solid var(--color-error);
}