.stepsContainer {
  border: 1px solid rgb(129, 111, 111);
    color: black;
    background-color:#222;;
  }
  
  .stepContent {
    color: black;
  }
  .stepTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: var(--neutral-400) 1px solid;
  }
  .closeButton {
    border: none;
    background-color: none;
  }
  .nextButton, .prevButton, .shareButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #0070f3;
    cursor: pointer;

  }
  
  .prevButton {
    background-color: #666;
  }
  
  .inputFile {
    margin: 10px 0;
    color: black;
  }
  
  .label {
    display: block;
    margin: 10px 0;
    color: black;
  }
  .terms{
    margin: 10px 0;
    color: black;
    text-align: center;
  }
  .terms a{
    text-decoration: none;
    color: var(--color-primary);
}
.buttonPrev{
  background-color: #666;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 2rem;
}

.buttonPrev:hover {
  background-color: #555;
}
.buttonPrev__disabled {
  background-color: #ccc;
  cursor: not-allowed;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  margin-left: 2rem;
 ;
}