.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--neutral-700);
  color: var(--primary-6);
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo img {
  max-height: 100%;
  /* Otros estilos para el logo */
}

.menu {
  display: flex;
  height: inherit;
  align-items: center;
  position: relative;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  margin: 0 5px;
}

.navLink:hover {
  color: var(--primary-400);
}

.codePlus {
  color: var(--primary-5);
  font-weight: bold;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color: var(--primary-400);
  transition: all 0.3s ease;
}

.actions {
  display: flex;
  align-items: center;
  height: inherit;
  gap: 20px;
}

.loginButton {
  color: var(--neutral-700);
  font-weight: bold;
  text-decoration: none;
  padding: 16px 40px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.profile {
  display: flex;
  align-items: center;
  position: relative;
  height: inherit;
  cursor: pointer;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdownIcon {
  transition: transform 0.3s;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.profile:hover .dropdownMenu {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.dropdownMenu a {
  display: block;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
}

.dropdownMenu a:hover {
  color: var(--color-primary);
}

.logoutButton {
  color: var(--neutral-700);
  font-weight: bold;
  text-decoration: none;
  padding: 16px 40px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}