.section__cards {
  width: 100%;
  min-height: 500px;
}
.section__cards--loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 500px;
}
.section__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.section__title {
  color: var(--color-white-text);
}
.section__subtitle {
  color: var(--neutral-400);
  font-size: 1.25rem;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__container-pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.3125rem;
  width: 100%;
}

/* btn creeate */

.section__btn-create {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white-text);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  text-align: left;
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
}

.section__btn-create:hover {
  background-color: var(--color-primary);
}