:root{
  /*FONTS*/
 --font-regular:var(--fontRegular);
 --font-medium: var(--fontMedium);
 --font-semiBold:var(--fontSemiBold);
 --font-bold:var(--fontBold);
 
 /*SIZE*/

/*TITLE*/


/*HEADING*/

/*PARAGRAPH*/


 /*Colors*/

 --color-primary: #16c5B4;
 --primary-1: #CBF9F5;
 --primary-2: #96F3EA;
 --primary-3: #62EDE0;
 --primary-4: #1AE5D2;
 --primary-5: #13AC9E;
 --primary-6: #0E7B71;
 --primary-7: #0B625A;

 --color-secondary: #21D0FF;
 --secondary-1: #DAF7FF;
 --secondary-2: #A6ECFF;
 --secondary-3: #90E7FF;
 --secondary-4: #6BE0FF;
 --secondary-5: #3DD6FF;
 --secondary-6: #00AAD8;
 --secondary-7: #007290;

 --color-neutral: #121212;
 --neutral-1: #FFFFFF;
 --neutral-2: #EAEAEA;
 --neutral-3: #CFCFD5;
 --neutral-4: #9F9FAB;
 --neutral-5: #626270;
 --neutral-6: #36363E;

 --color-success: #30DB5B;

 --color-error: #FC0019;
}

body{
  font-family: var(--font-regular);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}