:root {
  --sb-track-color: #232e33;
  --sb-thumb-color: #1c1c1c;
  --sb-size: 8px;
  /*FONTS*/
  --font-regular: var(--fontRegular);
  --font-medium: var(--fontMedium);
  --font-semiBold: var(--fontSemiBold);
  --font-bold: var(--fontBold);

  /*SIZE*/

  /*LEADING TITLE BOLD*/

  --leadingTitleDesktop-font-size: 52px;
  --leadingTitleMobile-font-size: 34px;

  /*LARGE TITLE*/
  --largeTitleDesktop-font-size: 48px;
  --largeTitleMobile-font-size: 28px;

  /*HEADINGS 01*/
  --heading01Desktop-font-size: 44px;
  --heading01Mobile-font-size: 22px;

  /*HEADINGS 02*/
  --heading02Desktop-font-size: 38px;
  --heading02Mobile-font-size: 20px;

  /*HEADINGS 03*/
  --heading03Desktop-font-size: 31px;
  --heading03Mobile-font-size: 18px;

  /*HEADLINE*/
  --headlineDesktop-font-size: 28px;
  --headlineMobile-font-size: 16px;

  /*PARAGRAPH*/
  --bodyDesktop-font-size: 28px;
  --bodyMobile-font-size: 16px;

  --calloutDesktop-font-size: 26px;
  --calloutMobile-font-size: 16px;

  --subheadDesktop-font-size: 24px;
  --subheadMobile-font-size: 15px;

  --footnoteDesktop-font-size: 22px;
  --footnoteMobile-font-size: 13px;

  --captionDesktop-font-size: 17px;
  --captionMobile-font-size: 12px;

  --overlineDesktop-font-size: 14px;
  --overlineMobile-font-size: 10px;

  /*Colors*/

  --color-primary: #16c5b4;
  --primary-1: #cbf9f5;
  --primary-2: #96f3ea;
  --primary-3: #62ede0;
  --primary-400: #1ae5d2;
  --primary-5: #13ac9e;
  --primary-6: #0e7b71;
  --primary-7: #0b625a;

  --color-secondary: #21d0ff;
  --secondary-1: #daf7ff;
  --secondary-2: #a6ecff;
  --secondary-3: #90e7ff;
  --secondary-4: #6be0ff;
  --secondary-5: #3dd6ff;
  --secondary-6: #00aad8;
  --secondary-7: #007290;

  --color-neutral: #121212;
  --neutral-1: #ffffff;
  --neutral-300: #eaeaea;
  --neutral-400: #cfcfd5;
  --neutral-4: #9f9fab;
  --neutral-5: #626270;
  --neutral-700: #36363e;

  --color-white-text: #fafafa;
  --color-background-degradent: #ffffff;
  --color-success: #30db5b;

  --color-error: #fc0019;

  --left-side: 0%;
  --right-side: 0%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: #1c1c20;
  color: var(--neutral-1);
  margin: 0;
  padding: 0;
}


  
  

  body {
    font-family: var(--font-regular);
   
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
    
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

/* CONTAINER  */
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
