.container {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid white;
}
@keyframes span1 {
    0% {top: 0; left: 0;}
    25% {top: 0; left: 100%;}
    50% {top: 100%; left: 100%;}
    75% {top: 100%; left: 0;}
    100% {top: 0; left: 0;}
}
 @keyframes span2 {
    0% {bottom: 0; right: 0;}
    25% {bottom: 0; right: 100%;}
    50% {bottom: 100%; right: 100%;}
    75% {bottom: 100%; right: 0;}
    100% {bottom: 0; right: 0;}
}
/*
@keyframes span3 {
    0% {bottom: 0; right: 0;}
    25% {bottom: 0; right: 100%;}
    50% {bottom: 100%; right: 100%;}
    75% {bottom: 100%; right: 0;}
    100% {bottom: 0; right: 0;}
}
@keyframes span4 {
    0% {bottom: 0; left: 0;}
    25% {bottom: 0; left: 100%;}
    50% {bottom: 100%; left: 100%;}
    75% {bottom: 100%; left: 0;}
    100% {bottom: 0; left: 0;}
} */
.span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}
.span:nth-child(1) {
    top: 0;
    left: 0;
    animation: span1 2s ease-in-out infinite;
}
.span:nth-child(2) {
    bottom: 0;
    left: 0;
    animation: span2 2s ease infinite;
}
.span:nth-child(3) {
    bottom: 0;
    right: 0;
    animation: span3 2s ease infinite;
}
.span:nth-child(4) {
    top: 0;
    right: 0;
    animation: span4 2s ease infinite;
}
.light {
    background: red;
}
.dark {
    background: green;

}