.container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.boxGroup {
  display: flex;
  flex-direction: column;
}

.box1,
.box2,
.box3,
.box4 {
  width: 559px;
  height: 432px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  color: var(--neutral-1);
}

.box2 {
  margin-top: 3rem;
}

.box4 {
  margin-top: 2.8rem;
}

.box2,
.box3 {
  padding: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, #2c2c33 35%, #121212 65%, #1c1c20 100%);
}

.box3 h1 {
  margin-bottom: 3rem;
  font-size: var(--heading01Desktop-font-size);
  transform: translateY(-5rem);
  padding-left: 20px;
}

.box2 h1 {
  margin-bottom: 3rem;
  font-size: var(--heading01Desktop-font-size);
  transform: translateY(-2.5rem);
  padding-left: 20px;
}

.box3 p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--captionDesktop-font-size);
  transform: translateY(-6rem);
  line-height: 1.5;
}

.box2 p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--captionDesktop-font-size);
  transform: translateY(-4rem);
  line-height: 1.5;
}
