.rating_container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.rating {
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
}
.stars_list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 0.2rem;
}
.stars_list > li {
  display: grid;
  place-content: center;
}
